/*changes fields to green when info entered correctly and red when incorrect*/

input:invalid{
  background-color: red;
}

input:valid{
  background-color: green;
}

/*changes unwanted fields back to white*/
input[type=text],
input[name=loan],
input[type=number] {
  background-color: white;
}